<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css" />
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <!-- Import component library -->
    <script src="https://cdn.jsdelivr.net/npm/element-plus"></script>

    <!-- Import component library -->
</head>

<body>
    <div id="app">
        <!-- 确定用户名称 -->
        <div v-if="isshow">
            <el-form style="max-width: 460px" label-width="100px">
                <el-form-item label="昵 称:">
                    <el-input v-model='name' />
                </el-form-item>
                <el-form-item label="房间号:">
                    <el-input v-model="roomid" />
                </el-form-item>
            </el-form>
            <el-button type="primary" @click="enterRoom">enter room</el-button>

        </div>
        <div v-else>
            <p>当前在线人数{{num}}</p>
            <p>当前房间{{roomid}}</p>

            <ul id="mylist">
                <li v-for="item in msgLists">
                    {{item.message}}
                </li>
            </ul>


            <!-- 客户端发送消息 ->websocket->发送到服务器->发送到其他客户端 -->
            <div class="send">
                <input v-model='iptvalue'>
                <button @click="sendMsg">发送消息</button>
            </div>
        </div>

    </div>





    <!-- 客户端代码 -->
    <script>
        const {
            createApp
        } = Vue
        const app = createApp({
            data() {
                return {
                    reconnect: '',
                    token: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjoiZm9vYmFyIiwiaWF0IjoxNjY2MjU4NzIyLCJleHAiOjE2NjYzNDUxMjJ9.kC9XhN3Ts00LpKf2fblHyTgiQtgDLsAjxIKn2jeeBOQ',
                    handler: '',
                    roomid: '',
                    num: 0,
                    name: '',
                    isshow: true,
                    iptvalue: "",
                    wsHandle: "",
                    msgLists: [{
                        message: 'welcome!'
                    }, ]
                }
            },
            mounted() {
                this.init()

            },
            methods: {
                init() {
                    this.wsHandle = new WebSocket('ws://localhost:8100')
                        // ws.binaryType = "blob";
                        // // or
                        // ws.binaryType = "arraybuffer";
                        // this.wsHandle.binaryType = "blob"
                    this.wsHandle.onopen = this.onOpen
                    this.wsHandle.onmessage = this.onMessage
                    this.wsHandle.onerror = this.onError
                },
                enterRoom() {
                    this.wsHandle.send(JSON.stringify({
                        name: this.name,
                        roomid: this.roomid,
                        event: 'login'
                    }))
                    this.isshow = false
                },
                sendMsg() {
                    console.log(this.iptvalue);
                    this.wsHandle.send(
                            JSON.stringify({
                                message: this.iptvalue
                            }))
                        // this.msgLists.push({
                        //     message: this.iptvalue
                        // })
                    this.iptvalue = ''
                },
                onOpen() {
                    // 连接创建之时
                    //  设置定时器->如果超时或者服务端没有响应  则断开连接
                    console.log('client is connected');
                    this.checkServer()
                        // 发送鉴权token token-》expire
                    const data = {
                        event: 'auth',
                        message: this.token
                    }
                    this.wsHandle.send(JSON.stringify(data))
                },
                onMessage(evt) {
                    console.log(evt);
                    let msg = JSON.parse(evt.data)
                    if (msg.event == 'noauth') {
                        // 相当于鉴权失败
                        // 去请求token
                        console.log(msg.message);
                        // login() 从新拿token
                        const token = this.token
                            //    第二次鉴权
                        this.wsHandle.send(JSON.stringify({
                            event: 'auth',
                            message: token
                        }))
                        return
                    }
                    // 心跳检测逻辑
                    if (msg.event == 'heartbeat' && msg.message == 'ping') {
                        this.checkServer()
                        this.wsHandle.send(JSON.stringify({
                            event: 'heartbeat',
                            message: 'pong',
                        }))
                        return
                    }
                    if (msg.num) {
                        this.num = msg.num
                    }
                    if (msg.event == 'login') {
                        this.msgLists.push({
                            message: 'welcome ' + msg.name + ' to valaha'
                        })
                    } else if (msg.event == 'logout') {
                        this.msgLists.push({
                            message: msg.name + 'out  valaha'
                        })
                    } else {
                        if (msg.name != this.name) {
                            this.msgLists.push({
                                message: msg.message
                            })
                        }

                    }

                },
                onClose() {
                    // 可以使用reconnecting-websocket 库实现
                    // 关闭websocket连接
                    this.wsHandle.close()
                },
                onError() {
                    clearTimeout(this.reconnect)
                        // reconnect websocket
                    this.reconnect = setTimeout(() => {
                        this.init()

                    }, 3000);

                },
                checkServer() {
                    console.log("checkServer in");
                    // 计时器去定时检测websocket的连接
                    clearTimeout(this.handler);
                    // 超时之后，即会执行
                    this.handler = setTimeout(() => {
                        console.log("checkServer fail, close websocket");
                        // 主动断开服务器端的连接
                        this.onClose();
                        // 再次初始化websocket
                        this.init()
                    }, 5000 + 1000);
                }
            },
        }).use(ElementPlus).mount('#app')
    </script>
</body>

</html>